{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="{% static '/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}">
<link rel="stylesheet" href = "{% static '/bootstrap5/css/bootstrap.min.css' %}" />
<script src="{% static '/jquery/jquery-3.6.0.min.js' %}"></script>
<div class="container-fluid p-5 bg-primary text-white text-center">

  <h1>ЦО ФИЦ ЕГС РАН</h1>
  <p>ЕДИНАЯ ГЕОФИЗИЧЕСКАЯ СЛУЖБА РОССИЙСОЙ АКАДЕМИИ НАУК</p>
</div>


