<style>
    .navbar-custom {
        background-color: lightblue;
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link{
        color: black;
    }
</style>

<nav class="navbar  justify-content-center navbar-expand-sm navbar-custom" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">НОВОСТИ</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">ПУБЛИКАЦИИ</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">СЕЙСМОЛОГИЧЕСКИЙ БЮЛЛЕТЕНЬ</a></li>
                <li><a class="dropdown-item" href="#">СЕЙСМОЛОГИЧЕСКИЙ КАТАЛОГ</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">УСЛУГИ</a>
            <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="#">ПРОДУКТЫ</a></li>
                <li><a class="dropdown-item" href="geofrom">ЗАПРОС ГЕОФИЗИЧЕСКИХ ДАННЫХ</a></li>
                <li><a class="dropdown-item" href="main_page">FDSN запрос</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">О ЦО ФИЦ ЕГС РАН</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">КОНТАКТЫ</a></li>
                <li><a class="dropdown-item" href="/structure">СТРУКТУРА</a></li>
                <li><a class="dropdown-item" href="#">ДОКУМЕНТЫ</a></li>
                <li><a class="dropdown-item" href="#">УСТАВ</a></li>
                <li><a class="dropdown-item" href="#">ВАКАНСИИ</a></li>
            </ul>
        </li>
      </ul>

</nav>


